{% extends 'base.html' %}


{% block body %}
    <div id="main">
        <button type="button" class="btn btn-primary">Add Task</button>
        <hr>
        <h3>Tasks in "List1"</h3>
        <table class="table">
            <tr>
                <th>Task</th>
                <th>Created</th>
                <th>Due on</th>
                <th>Owner</th>
                <th>Mark</th>
            </tr>
            {% for task in list %}
                {% if task.mark == False %}
                    <tr>
                        <td>Task {{ task.num }}</td>
                        <td>{{ task.cr_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.owner }}</td>
                        <td>
                            <button type="button" class="btn btn-default dn_btn">Done</button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <a href="." type="button" class="btn btn-warning">View incompleted tasks</a>
        <button type="button" class="btn btn-danger">Delete this task</button>
    </div>
{% endblock %}